NET "CLK_50M"  LOC = P183;
NET "SCLK"     LOC = P90;
NET "AD_CS"    LOC = P100;
NET "txd"      LOC = P106;
NET "SDA"      LOC = P94;
NET "SDB"      LOC = P98;
NET "OE"         LOC = p127;
NET "DIR1"       LOC = p126;
NET "DIR2"       LOC = p152;
NET "LCD_RS"     LOC = p128;
NET "LCD_RW"     LOC = p129;
NET "LCD_EN"     LOC = p132;
NET "LCD_DATA(0)"LOC = p133;
NET "LCD_DATA(1)"LOC = p134;
NET "LCD_DATA(2)"LOC = p135;
NET "LCD_DATA(3)"LOC = p137;
NET "LCD_DATA(4)"LOC = p138;
NET "LCD_DATA(5)"LOC = p139;
NET "LCD_DATA(6)"LOC = p140;
NET "LCD_DATA(7)"LOC = p144;
################################
net "dds_iou" loc = p196;
net "dds_cs" loc = p193;
net "dds_sck" loc = p192;
net "sdio0"   loc = p190;
net "sdio1"   loc = p189;
net "sdio2"   loc = p187;
net "sdio3"   loc = p186;
net "dds_mrt" loc = p179;
net "dds_pdc" loc = p178;
net "dds_cms" loc = p203;
net "p0" loc = p205;
net "p1" loc = p200;
net "p2" loc = p199;
net "p3" loc = p197;
net "ctrl_ref" loc = p160;
net "ctrl_mes" loc = p206;